*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul {

    list-style: none;
    margin: none;
    padding: none;
}

#timeslots-table{
    margin-top: 1rem;
    display: flex;
    max-width: 800px;
    justify-content: space-evenly;
}
.table-col {
    /* width: 400px; */
    border: 1px solid black;
    padding: 5px;
}

.timeslot-item {
    width: 5.5rem;
    display: flex;
    justify-content: space-between;
    /* gap: 5px; */
}   