body{
  background-image: url('pic5.jpg');
  background-size: 1500px;
  margin: 0;
  padding: 0;
}

/* Flash Messages */
.error {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
  padding: 15px;
  margin-bottom: 20px;
}

.success {
  background-color: #aceb92;
  border-color: #d6e9c6;
  color: #3c763d;
  padding: 15px;
  margin-bottom: 20px;
}

h1{
  font-family: 'Times New Roman', serif;
  font-weight: bold;
  font-size: 50px;
  color: rgb(153, 232, 252);
  text-shadow: 2px 2px 2px blue;
  text-align: center;
}

h2{
  font-family: 'Times New Roman', serif;
  font-weight: bold;
  font-size: 25px;
  color: rgb(94, 196, 255);
  text-shadow: 1px 1px 1px blue;
  text-align: center;
}

h3{
  font-family: 'Times New Roman', serif;
  font-weight: bold;
  font-size: 20px;
  margin: 3px;
  color: rgb(94, 196, 255);
  text-shadow: 1px 1px 1px blue;
  text-align: center;
}

button{
  background-color: rgb(55, 161, 248);
  border: 5px;
  color: white;
  text-shadow: 1px 1px blue;
  padding: 10px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Times New Roman', serif;
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  cursor: pointer;
  width: 160px;
  border-radius: 5px;
}

button:hover {
  background-color: rgb(0, 119, 255);
  color: white;
}

.input-box{
  padding: 5px;
  border: 0;
  box-shadow:0 0 5px 4px rgb(173, 236, 252);
  border-radius:5px;
  width: 50%;
}

.login{
  width: 400px;
  box-shadow: 0 0 3px 2px rgb(94, 196, 255);
  border-radius: 50px;
  background: rgb(225, 250, 255);
  padding: 20px;
  margin: auto;
  text-align: center;
}

.table{
  width: 70%;
  box-shadow: 0 0 3px 2px rgb(94, 196, 255);
  border-radius: 50px;
  background: rgb(225, 250, 255);
  padding: 20px;
  margin: auto;
  text-align: center;
}

.table table {
  width: 100%; 
  border: 1px solid black; 
}

.table table th, .table table td {
  border: 1px solid black; 
  padding: 5px;
}

.row{
  background-color: rgb(94, 196, 255);
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgb(0, 81, 255);
  width: 25%;
  /* display: flex; */
  /* justify-content: flex-start; */
}

.timeslots-container{
  text-align: left; 
  padding: 0 1.5rem; 
}

.rsvp{
  font-family : Sentil; 
  font-weight: bold;
  font-size: 16px; 
  color: white; 
  background-color: rgb(94, 196, 255); 
  text-align:  center; 
  height: 25px; 
  border-radius: 9px; 
  box-shadow: 0 0 3px 2px lightblue;
  width: 25%;
}

.optgroup { 
  font-family: 'Times New Roman', serif;
  font-size:40px; }

/* Index time slots */
.timeslot{
  display: inline-block;
  margin-right: 1.5rem;
}

/* Logout Form */
#logout-form {
  display: inline-block;
  position: absolute;
  top: 0;
  right:0;
}